.picture {
	width: 100%;
	margin-top: 1rem;
}

.header {
	display: flex;
	flex-direction: column;
}

.headerImage {
	width: 6rem;
	height: 6rem;
}

.headerHomeImage {
	width: 8rem;
	height: 8rem;
}

.backToHome {
	margin: 3rem 0 0;
}

.albumText {
	width: 100%;
	max-width: 100vw;
}

.parentContainer {
	float: left;
	width: 500px;
	min-width: 75vw;
	max-width: 90vw;
}

.container {
	max-width: 27rem;
	margin: .5rem auto 1rem;
	padding: 0;
}

.pictureHolder {
	position: relative;
}

.pictureHolder > * {
	position: absolute;
	left: 0;
	top: 0;
}
