input {
	width: 100%;
}

.searchContainer {
	display: flex;
	align-items: center;
}

.searchImage {
	order: 0;
	height: 100%;
	object-fit: cover;
}

.searchTextContainer {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	order: 1;
}

.searchName {
	order: 0;
}

.searchArtist {
	order: 1;
}
